body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 253, 247);
    color: black;
    margin: 0;
    padding: 0;
    max-width: fit-content;
  }
  
  .header-one {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

  .header-two {
    background-color: white;
    color: black;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .logo h3 {
    font-size: 24px;
    color: #39a95e;
    margin: 10px;
    margin-right: 35px;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    font-style: italic;
  }
  
  .navbar .nav-links a:hover {
    color: #39a95e 
  }
  
  main {
    padding: 80px;

  }
  
  main h2 {
    font-size: 32px;
    color: black;
    text-align: center;
  }
  
  main p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: center;
  }
  
  header img {
    margin: 25px;
    border-radius: 5px;
  }
  
  footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #39a95e;
    text-decoration: none;
    margin: 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
      color: white;
    }
  
    .navbar .nav-links a {
      display: block;
      margin: 10px 0;
    }
  }
  